
:host {
  .gk {
  &-container {
    
    
  }
    &-grid-view {
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     
      mat-card{
       
        width:320px;
        margin: 20px;
        position: relative;
      }
      
    }
    &-list-view {
      
      mat-card{
        margin: 78px;
        width:570px;
        position: relative;
      }
     
    }
  }
}



