
:host {
  .gk {

    &-grid-view {
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     
      mat-card{
        
        width:320px;
        margin: 20px;
        position: relative;
       
        border-color: rgb(165, 140, 140);
        
      } 
      mat-card:hover{
       // background-color: burlywood;
        border:outset;
        box-shadow: 0 0px 0px 3px rgba(0, 0, 0, 0.25);

      }
      
    }
    &-list-view {
      
      mat-card{
        margin: 78px;
        width:570px;
        position: relative;
        
        border-color: rgb(165, 140, 140);
        
      }
      mat-card:hover{
        //background-color: burlywood;
        border:outset;
        box-shadow: 0 0px 0px 3px rgba(0, 0, 0, 0.25);

        
      }
     
    }
  }
}


.butt{
  position: absolute;
  right:40px;
}

