.move{

  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 5px;
   /* padding-top: 25px; */
  }


.head{

  position: relative;
}

.butt{
  position: absolute;

  right: 10px;
}
.moveCard
{

width: 570px;
background-color:wheat;
}