<div class="gk" [ngClass]="grid ? 'gk-grid-view': 'gk-list-view'">
  <div  *ngFor="let note of notes">
    <mat-card  [style.background-color]="note.color" >
      <mat-card-header >
        <mat-card-title (click)=openDialog(note)>
          {{note.title}}
        </mat-card-title>
        <button *ngIf="note.pinned" class="butt" mat-icon-button (click)="unPin('unpinned',note)" matTooltip="Unpin">
          <mat-icon>bookmark</mat-icon>
        </button>
        <button *ngIf="!note.pinned" class="butt" mat-icon-button (click)="unPin('pinned',note)" matTooltip="pin">
          <mat-icon>colorize</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content (click)=openDialog(note)>
        {{note.description}}
      </mat-card-content>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of note.labels" [selectable]="selectable" [removable]="removable"
          (removed)="remove(note,label.labelId)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-chip-list #chipList class="chip">
        <mat-chip *ngIf="note.remainder!==null" [selectable]="selectable" [removable]="removable"
          (removed)="removeRemainder(note)" color="note.color">
          <mat-icon>timer</mat-icon>
          {{note.reminder | date:'short'}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
</mat-chip-list>

      <div >
        <button  mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="remind" >
          <mat-icon>add_alert</mat-icon>
        </button>
        <mat-menu #remind="matMenu" class="morecard" (click)="$event.stopPropagation()">
          <div class="input-wrapper">
            <label>Add a reminder to note:</label>
            <hr>
            <input [min]="min" [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"
              placeholder="select date and time">
            <owl-date-time #dtPicker1></owl-date-time>
          </div>
          <div>
            <button mat-button class="saveButton" (click)="saveRemainder(selectedMoment,note)">Save</button>
          </div>
        </mat-menu>
        <button   mat-icon-button matTooltip="Collaborator" (click)=collaboratorAdd(note)>
          <mat-icon>person_add</mat-icon>
        </button>
        <app-color-change [newNote]="note" (colorChange)="updateColor($event)"></app-color-change>
        <!-- <button  mat-icon-button matTooltip="Add image">
          <mat-icon>image</mat-icon>
        </button> -->
        <button   mat-icon-button (click)=sendToArchive(note) matTooltip="Archive">
          <mat-icon>archive</mat-icon>
        </button>

        <button  mat-icon-button [matMenuTriggerFor]="more" matTooltip="more">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu  #more="matMenu" >
          <button mat-button (click)=deleteNote(note)>Delete Note</button>
          <app-add-note-label [note]="note" (addNoteLabel)="onUpdateNoteLabel($event)"></app-add-note-label>
        </mat-menu>
        <!-- <button mat-icon-button matTooltip="undo">
          <mat-icon>undo</mat-icon>
        </button>
        <button   mat-icon-button matTooltip="redo">
          <mat-icon>redo</mat-icon>
        </button> -->
      </div>
    </mat-card>
  </div>
</div>
