<mat-list>
  <h1 mat-subheader>Collaborators</h1>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="user!=null">
      <mat-icon  mat-list-icon *ngIf="imageData.imageSrc===null">account_circle</mat-icon>
      <img  mat-list-icon *ngIf="imageData.imageSrc!==null" class="image" [src]="imageData.imageSrc" style="width: 40px;height: 40px;"> 
      <h4 mat-line>{{user.name}} (Owner)</h4>
    <p mat-line> {{user.emailId}} </p>
  </mat-list-item>
  <div >
    <mat-icon mat-list-icon>account_circle_outline</mat-icon>
    <!--   -->
  <input [(ngModel)]="query" (click)=enableSearch() placeholder="enter email address" style="align-content: center;width: 300px;border: hidden;outline: none;padding: 20px;" />
  <mat-icon >done</mat-icon>
  &nbsp;&nbsp;
  <div *ngIf="searchEnable">
      <li *ngFor="let user of users | searchUser: query">
        {{user.emailId}} 
       <button mat-icon-button (click)=addCollaborator(user.emailId)>Add
         
       </button> 
      </li> 
    </div>
  </div>

  <br>
  <mat-divider></mat-divider>
  <div class="butt">
    <button mat-icon-button (click)=closeClick()>Cancel</button>
    &nbsp;&nbsp;
    <button mat-icon-button>Save</button>
  </div>
</mat-list>