mat-sidenav-container, mat-sidenav-content, mat-sidenav {
     height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
.button{

    align-content: center;
    width: 50px;
}
.mat-menu-item:focus{
    background-color: burlywood;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
.mat-menu-item:hover{
    background-color: burlywood;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}