<div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center"></div>
<div class="move" *ngFor="let note of notes | noteFilter: 'archive'">
  <mat-card class="move" [style.background-color]="note.color">
    <mat-card-header>
      <mat-card-title (click)=openDialog(note)>
        {{note.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content (click)=openDialog(note)>
      {{note.description}}
    </mat-card-content>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let label of note.labels" [selectable]="selectable" [removable]="removable"
        (removed)="remove(note,label.labelId)">
        {{label.labelName}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div>
      <button mat-icon-button matTooltip="Remind me">
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon>person_add</mat-icon>
      </button>
      <app-color-change [newNote]="note" (colorChange)="updateColor($event)"></app-color-change>

      <button mat-icon-button matTooltip="Add image">
        <mat-icon>image</mat-icon>
      </button>
      <button mat-icon-button (click)=unArchive(note) matTooltip="unarchive">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #more="matMenu" class="morecard">
        <button mat-button (click)=deleteNote(note)>Delete Note</button>
        <app-add-note-label [note]="note" (addNoteLabel)="onUpdateNoteLabel($event)"></app-add-note-label>
      </mat-menu>
    </div>
  </mat-card>
</div>