<div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center"></div>
<div class="move" *ngFor="let note of notes | noteFilter: 'archive'">
  <mat-card class="move" >
    <mat-card-header>
      <mat-card-title (click)=openDialog(note)>
        {{note.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content (click)=openDialog(note)>
      {{note.description}}
    </mat-card-content>
    <div>
      <button mat-icon-button matTooltip="Remind me">
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Change color">
        <mat-icon>palette</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Add image">
        <mat-icon>image</mat-icon>
      </button>
      <button mat-icon-button (click)=unArchive(note) matTooltip="unarchive">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #more="matMenu" class="morecard">
        <button mat-button (click)=deleteNote(note)>Delete Note</button>
      </mat-menu>
    </div>
  </mat-card>
</div>