.box{
    border: hidden;
    outline: none;
    width: 320px;
    text-align: center;
   
}
.area{
    width: 395px;
    display: flex;
    justify-content: space-between;
}
.centre{
    text-align: center;
}
.moveRight{

    float: right;
}