<p> <b>Edit Labels </b></p>

<div class="area" fxLayout="row">
    <mat-icon (click)=closeClick()>clear</mat-icon>
    <div data-text="Create new label"  contenteditable="true" class="input" id="labelName"  #labelName>
    </div>
    <mat-icon (click)="createLabel(labelName)">done</mat-icon>
</div>
<mat-divider></mat-divider>


<mat-divider></mat-divider>
<div *ngFor="let label of labels">
    <div class="centre" fxLayout=row>
        <mat-icon (click)=deleteLabel(label)>delete</mat-icon>
        <input class="box" [(ngModel)]="label.labelName" [value]=label.labelName placeholder="LabelName" #lab>
        <mat-icon (click)=labelUpdate(label)>edit</mat-icon>
    </div>
</div>
<div>
    <button class="moveRight" (click)="closeClick()" mat-icon-button> Done </button>
</div>