button {
  background-color:rgb(107, 83, 241);
  color: white;
  padding: 10px 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  }
  button:hover {
  opacity: 0.5;
  }
  .example-container {
    display: flex;
    flex-direction: column;

  }
  
  .example-container > * {
    width: 15%;
  }
  
  .login-card{
    background-color:wheat;
 padding-left: 20%;
    height: 600px;
    width: 450px;
    margin: auto;
  }
  