button {
    background-color:rgb(65, 161, 240);
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    }
    button:hover {
    opacity: 0.5;
    }
     
  .reset-card{
    background-color: wheat;
    padding-left: 20%;
    margin: auto;
    width:500px;
    height:550px;
  }
  .imageResize{
    width: 200px;
    height:200px;
  }
  .example-container{
  padding-top: 20px;
  }