<div><button mat-button (click)=labelFilter($event,note.labels) [matMenuTriggerFor]="moreOption">
    Add Label
  </button></div>

<mat-menu #moreOption="matMenu">
    Label Note
  <div> <input [(ngModel)]="filter" (click)="$event.stopPropagation()" placeholder="Enter label name"/>
    <button mat-icon-button>
      <mat-icon>search</mat-icon></button></div>
<div *ngFor="let label of newLabels | searchPipe:filter ">
  <mat-checkbox (click)=onClick($event,note,label)>
    {{label.labelName}}
  </mat-checkbox>
</div>
<!-- <div>
<mat-icon>add</mat-icon>
<button mat-icon-button *ngIf="filter != ''" (click)=createLabel($event,filter,note)></button>
</div> -->
</mat-menu>