<div><button mat-button (click)=labelFilter($event,note.labels) [matMenuTriggerFor]="moreOption">
    Add Label
  </button></div>

<mat-menu #moreOption="matMenu">
  &nbsp;
  Label Note
  <div>
    &nbsp;
    <input [(ngModel)]="filter" (click)="$event.stopPropagation()" style="border: hidden;" placeholder="Enter label name" />
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button></div>
  <div *ngFor="let label of newLabels | searchPipe:filter ">
    &nbsp;
    <mat-checkbox (click)=onClick($event,note,label)>
      {{label.labelName}}
    </mat-checkbox>
  </div>

</mat-menu>