.move{

    padding-top: 35px; 
    padding-left: 100px;
   padding-bottom: 5px;
  }
   
   
  
  .head{
  
    position: relative;
  }
  
  .butt{
    position: absolute;
  
    right: 10px;
  }
 
  .resizeMatCard{
    
    width: 570px;
  
  
  } 
  .mat-card:hover{
    background-color: burlywood
  }
  /* .resizeCard{
    padding:20px;
display: flex;
justify-content: space-evenly;
    width: auto;
  } */ 