

<div fxLayout="row" fxLayoutAlign="center center"></div>

  <mat-card class="forgot-card" fxFlex="0 1 100px" style="width:500px;height:550px;">
    <img src="./assets/image/shoutu.jpg" style="width: 200px;height:200px;">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm.value)">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label for="emailId">Email ID</mat-label>
          <input matInput placeholder="Enter the Email ID" formControlName="emailId" class="form-control">

          <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <mat-error *ngIf="f.emailId.errors.required">EmailId is required</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
     
      <div class="form-group">
        <button color="btn-primary" [disabled]="loading" class="btn btn-primary">Submit</button>
      </div>
       
       
        <div> Wish to login?
          <a [routerLink]="['/login']" class="btn btn-link">Login</a></div>
      
    </form>
  </mat-card>

  