button {
    background-color:palevioletred;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    }
    button:hover {
    opacity: 0.5;
    }
     
  .forgot-card{
    background-color: wheat;
    padding-left: 20%;
    height: 550px;;
    width: 500px;
    margin: auto;
  
  }
  .imageMove{
width: 200px;
height: 200px;;

  }